button {
  background-color: green;
  color: white;
  border: 1px solid darkgreen;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  float: right;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-bottom: 0px;
  border-bottom: 1px solid black;
}

body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top, #808080, rgb(74, 74, 74));
}

.sponsors {
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  max-width: 1000px;
}
.about {
  display: block;
  float: right;
  max-width: 30%;
}
.social {
  display: block;
  float: left;
  max-width: 30%;
}

.banner {
  height: 100%;
  width: 100%;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.button-container {
  float: right;
}
.footer {
  margin-top: 20px;
  border-top: 1px solid black;
  text-align: center;
  padding: 5px;
}
