.header {
  max-width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to bottom, #333, #555);
  padding: 30px;
  border: 1px solid #666;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0.85;
}
.header h1 {
  color: white;
  font-family: sans-serif;
  font-size: 35px;
  text-decoration: none;
}
.user-icon {
  width: 10%;
  float: right;
  display: flex;
  justify-content: flex-end;
}
a:link,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}
button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 35px;
  font-family: sans-serif;
  font-size: 15px;
}

body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  max-width: 100%;
}

.banner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: rgb(0, 0, 0);
  padding: 2rem;
}
.mainpage {
  background-image: url(./assets/banner.png);
  background-position: right;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}
.footer {
  max-width: 100%;
  display: flex;
  background-color: rgb(32, 32, 32);
  padding: 20px;
  color: white;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to top, #333, #555);
  padding: 30px;
  border: 1px solid #666;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0.85;
}

.sponsors {
  padding: 2rem;
  text-align: center;
}

.text-banner {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sponsors {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sponsors img {
  height: 100px;
}

.sponsors-image {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social-networks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.social-networks img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 1rem;
}
.cart {
  margin: auto 0 0;
  padding: 2rem;
  max-width: 100%;
  text-align: center;
  background-color: rgb(49, 57, 64);
}
.carttable {
  border: 0px;
  width: 80%;
  border-collapse: collapse;
  text-align: center;
  margin: auto;
  color: black;
}
.buybut {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 35px;
  font-family: sans-serif;
  font-size: 15px;
}
.config-head {
  margin: auto 0 0;
  padding: 2rem;
  max-width: 100%;
  text-align: center;
  background-color: rgb(49, 57, 64);
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.sign-in {
  margin: auto 0 0;
  padding: 2rem;
  max-width: 100%;
  text-align: center;
  background-color: rgb(49, 57, 64);
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign-in input {
  margin: 30px;
  width: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 8px;
  padding: 8px 12px;
  background-color: #e7e7e7;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #333;
  text-align: center;
}
.sign-in button {
  height: 35px;
  width: 150px;
}
.config-main {
  margin-top: 30px;
}
.config-main h1 {
  text-align: center;
}
.config-main p {
  text-align: center;
}
.config-main table {
  border: 0px;
  width: 80%;
  border-collapse: collapse;
  text-align: center;
  margin: auto;
  color: black;
  margin-bottom: 5%;
}
.config-main td {
  padding: 20px 0;
}
#cartbut {
  margin: 0 auto;
  display: block;
  margin: 0 0 0 47%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 35px;
  font-family: sans-serif;
  font-size: 15px;
  margin-bottom: 20px;
}
.menu {
  background-color: white;
  border: 0px;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  position: absolute;
  top: 10px;
  right: 12px;
  color: black;
}
.menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu li {
  cursor: pointer;
}
select {
  width: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 8px;
  padding: 8px 12px;
  background-color: #e7e7e7;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #333;
  text-align: center;
}
